.idea
/test/results/*.svg
/test/results/*.png
.DS_Store
*.pyc
zentangler/__pycache__/*.pyc
zentangler/operators/__pycache__/*.pyc
zentangler_maya/__pycache__/*.pyc
/zentangler/config/zentangler_config.json
